{% extends "base.html" %}

{% block page_header %}
    <h5>My favorite recipes</h5>
{% endblock page_header %}

{% block content %}
    <div>
        {% for recipe in favorites %}
            <div class="card mb-3 mx-auto" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if recipe.image %}
                            <img width="100%" class="image-fluid rounded-start shadow" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
                        {% else %}
                            <img width="100%" class="image-fluid rounded-start shadow" src="https://placehold.co/800?text=placeholder" alt="recipe">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                            <p>Description:</p>
                            <p class="card-text">{{ recipe.description }}</p>
                            <p class="card-text"><small class="text-body-secondary">Added: {{ recipe.date_created| date:"d M, Y H:i" }}</small></p>
                            <small><a href="{% url 'recipes:recipe_detail_ulr' recipe.id %}">View recipe detail</a></small>
                        </div>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
{% endblock content %}

