{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h6 class="display-2">Foodie</h6>
            <p class="led"> Foodie - bu sizning oshxonangizdagi ingredientlar asosida retseptlar qidirish imkonini beruvchi veb-ilova. Bundan tashqari, sevimli retseptingizni saqlashingiz va sotib olishingiz kerak bo'lgan ingredientlar uchun xarid ro'yxatini yaratishingiz mumkin.</p>
        </div>
    </div>
    <div class="container">
        <h6 class="display-4"> Ommabop retsept <span class="badge text-bg-secondary">category</span> lari </h6 class="display-4">
    </div>
    <div>
    <div class="row mb-2">
        <div class="col-auto">
            <a class="btn btn-success" href="{% url 'foodie_app:add-category-ulr' %}">Add Category</a>
        </div>

    </div>
    <div class="row">
        {% for category in categories %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 text-bg-light mb-3">
                    <div class="crd-body">
                        <a  href="{% url 'foodie_app:recipes-category-ulr' category.id %}">
                            <div class="card-body">{{ category.name }}</div>
                        </a>
                    </div>
            </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock content %}

