{% extends "base.html" %}

{% block page_header %}
    <h3>Recipes under <i>{{ category }}</i></h3>
{% endblock page_header %}

{% block content %}
    <a href="{% url 'foodie_app:add-recipe-with-ulr' category_id=category.id %}">Add recipe</a>
    <div>
        {% for recipe in recipes %}


            <div class="card mb-3 mx-auto" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if recipe.image %}
                            <img width="100%" class="image-fluid rounded-start shadow" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
                        {% else %}
                            <img width="100%" class="image-fluid rounded-start shadow" src="https://placehold.co/800?text=placeholder" alt="recipe">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                            <p>Description:</p>
                            <p class="card-text">{{ recipe.description }}</p>
                            <p class="card-text"><small class="text-body-secondary">Added: {{ recipe.date_created| date:"d M, Y H:i" }}</small></p>
                            <small><a href="{% url 'recipes:recipe_detail_ulr' recipe.id %}">View recipe detail</a></small>
                        </div>
                    </div>
                </div>
            </div>




{#            <div class="card mb-3">#}
{#                <div class="card-header">#}
{#                    <h5>{{ recipe.name }}, Added: {{ recipe.date_created| date:"d M, Y H:i" }}</h5>#}
{#                </div>#}
{#                <div class="card-body">#}
{##}
{##}
{#                    <h5 class="card-title">Description:</h5>#}
{#                    <p class="card-text"></p>#}
{#                    <div class="row align-items-center">#}
{#                        <div class="col">#}
{#                            <a href="{% url 'recipes:recipe_detail_ulr' recipe.id %}" class="btn btn-primary">View#}
{#                                recipe detail</a>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <div class="col-auto">#}
{#                                {% if user.profile.profile_photo %}#}
{#                                    <img src="{{ user.profile.profile_photo.url }}" alt="Profile"#}
{#                                         style="width: 40px; height: 40px; border-radius: 50%; margin-right: 5px">#}
{#                                {% endif %}#}
{#                                <small> </small>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        {% endfor %}
    </div>
{% endblock content %}

